$textDark : #234361;
$text: #425A70;
$blue: #1070CA;
$lightBlue : #4DA8FF;
$lighterBlue:#DBEAF7;
$gray: #212528;
$darkGray:#1E1E1E;
$mediumGray:#464A4D;
$console: #808082;
$lightConsole: #A3A3A3A3;
$linkConsole: #14B5D0;

$tablet:168px;
$desktop: 960px; 