@import "../modules/_variables.scss";
.hero {
  padding: 74px 16px 88px;
  @media (min-width: $tablet) {
    max-width: 768px;
    margin: 0 auto;
  }
  // @media (max-width: 1370px) {
  //   &__bubble {
  //     position: absolute;
  //     left: 700px;
  //     padding-bottom: 135px;
  //   }
  // }
  @media (min-width: $desktop) {
    max-width: 100%;
  }
  &__bubble {
    position: absolute;
    left: 600px;
    padding-bottom: 135px;
  }
  &__contact {
    border-radius: 64px;
    color: #fff;
    background: $lightBlue;
    display: inline-block;
    padding: 4px 24px;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-decoration: none;
  }
  &__description {
    text-align: center;
    @media (min-width: $desktop) {
      max-width: 786px;
      margin: 0 auto;
      position: relative;
      &::before,
      &::after {
        width: 82.94;
        height: 254.88;
        content: "";
        display: block;
        position: absolute;
        top: 0;
      }
      &::before {
        content: url("../assets/img/{.svg");
        // background: url("../assets/img/{.svg");
        right: 100%;
      }
      &::after {
        content: url("../assets/img/}.svg");
        left: 100%;
      }
    }
  }
  &__paragraph {
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 48px;
    text-decoration: none;

    @media (min-width: $desktop) {
      font-size: 20px;
      line-height: 40px;
      margin-bottom: 68px;
    }
  }
  &__image {
    box-sizing: content-box;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 2px solid #bdc8dab6;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);

    @media (min-width: $desktop) {
      width: 178px;
      height: 178px;
      border: 7px solid #bdc8dab6;
    }
  }
  &__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @media (min-width: $desktop) {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 48px;
    }
  }
  &__header {
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: $textDark;
  }
  &__hello {
    display: none;

    @media (min-width: $desktop) {
      display: block;
      background: $blue;
      color: #fff;
      padding: 17px 25px;
      border-radius: 16px;
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 32px;
      margin-left: 5px;
      position: relative;
    }
    &__img {
      position: absolute;
      top: 69px;
      left: 70px;
    }

    //   &:after{
    //     content: "";
    //     position:absolute;
    //     top:100%;
    //     left:32px;
    //     display: block;
    //     width:12,5px;
    //     height: 26,66px;
    //     // background: url('../../assets/img/Speech_cloud.svg');

    // }

    // &__link {
    //   font-weight: bold;
    //   color: $lightBlue;
    //   text-decoration: none;
    // }
    &__special {
      color: $blue;
      white-space: nowrap;
    }
  }
}
.hero__link,
a {
  text-decoration: none;
  font-weight: bold;
  color: $lightBlue;
}
.hero__bubble {
  position: absolute;
  left: 700px;
  padding-bottom: 135px;
}
